<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <base href="@ViewBag.BaseUrl" />
    @Styles.Render("~/Content/booking/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/site/css")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/booking/app/css")
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="SitePanel container"> 
        <div class="row">
            <div class="col-xs-12">
                <div class="login-status">
                    <div class="login-name"></div>
                </div>
                <div class="BannerContent">
                    <div class="BannerPanel"></div>
                    <div class="app-title">@ViewBag.AppName</div>
                </div>
            </div>
        </div>
        @*<div class="row AppPanel">
            <div class="col-xs-12">
                @RenderBody()
            </div>
        </div>*@
        <div class="AppPanel">
            <div >
                @RenderBody()
            </div>
        </div>
    </div>
    <script>
        var baseUrl = '@Url.Content("~/")';
    </script>
    @Scripts.Render("~/bundles/jquery")
    <!-- BEWARE: make sure bootstrap is loaded before jqueryui! Otherwise dialog close button icons will disappear -->
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/fastnet/vnext")
    @RenderSection("scripts", required: false)
    <script>
        (function ($) {
            fastnet.util.ajax.init('@Url.Content("~/")');
        })(jQuery);
    </script>
</body>
</html>
