<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width; maximum-scale=1 minimum-scale=1" />
    <title>@ViewBag.Title</title>
    <base href="@ViewBag.BaseUrl" />
    <link href="~/webframelogo-16.16.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/site/css")
    @Styles.Render("~/Content/customcss")
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="fastnet-error-panel hide">
    </div>
    <div class="SitePanel normal-width">
        <div class="menu-bars-container">
            <div class="left-bars bars pull-left" data-cmd="show-left-menu">
                <span class="fa fa-bars"></span>
            </div>
            <div class="right-bars bars pull-right" data-cmd="show-right-menu">
                <span class="fa fa-bars"></span>
            </div>
            <div class="main-bars bars pull-right" data-cmd="show-main-menu">
                <span class="fa fa-bars"></span>
            </div>
            <div class="bar-menu" style="display:none">
                <ul data-level="0">
                    <li ><a>Menu T1</a></li>
                    <li class="has-children is-closed">
                        <a>
                            <span>Menu T2, Menu T4, Menu T4</span>
                            <span class="fa fa-arrow-circle-down"></span>
                        </a>
                        <ul data-level="1">
                            <li class="has-children is-closed">
                                <a>
                                    <span>Menu A1</span>
                                    <span class="fa fa-arrow-circle-down"></span>
                                </a>
                                <ul data-level="2">
                                    <li><a>Final Level</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Menu A2, Menu A4, Menu A4</a></li>
                        </ul>
                    </li>
                    <li><a href="home">Home</a></li>
                    <li><a>Menu T4, Menu T4</a></li>
                </ul>
            </div>
        </div>

        <div class="edit-panel">
            <div class="row">
                <div class="toolbar closed">
                    <div class="pull-left">
                        <button class="btn btn-primary btn-xs editor-command" data-cmd="save-changes">Save Changes</button>
                        <button class="btn btn-default btn-xs editor-command" data-cmd="open-store-browser">Store</button>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-default btn-xs page-info-command closed" data-cmd="page-info-command">
                            <span>More Info</span>
                            <span class="fa "></span>
                        </button>
                        <button class="btn btn-danger btn-xs testing-command" data-cmd="test-command">Test</button>
                        <button class="btn btn-danger btn-xs editor-command" data-cmd="exit-edit-mode"><span>&times;</span></button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="page-information closed">
                    <div>
                        <div class="member-info"><span>Logged in as </span><span></span></div>
                        <div class="banner-info"><span>Banner url: </span><span></span><span>, Location: </span><span></span></div>
                        <div class="left-info"><span>Left url: </span><span></span><span>, Location: </span><span></span></div>
                        <div class="centre-info"><span>Centre url: </span><span></span><span>, Location: </span><span></span></div>
                        <div class="right-info"><span>Right url: </span><span></span><span>, Location: </span><span></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="login-status enable">
            <div class="login-name"></div>
        </div>
        <div id="bannerPanel" class="BannerPanel editable-content"></div>

        @RenderBody()
        <div class="forms-container">
        </div>
    </div>
    @*</div>*@
    <div class="modal fade" id="message-box" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">System Message</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-cmd="ok">Close</button>
                    <button type="button" class="btn btn-default" data-cmd="cancel" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/fastnet")
    @Scripts.Render("~/bundles/custom")
    <script>
        var baseUrl = '@Url.Content("~/")';
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
